.main
    &__wrp
        display: flex
        justify-content: space-around
        align-items: stretch
        flex: 1 1 50%
        background-color: #f4f4f4d5
        color: #414f5a
        height: 100vh

        .leftwrp,
        .rightwrp
            display: block
            background-color: #ffffff
            border-radius: 0.65em
            box-shadow: 2px 4px 13px 3px rgba(0, 0, 0, 0.2)
            width: 45%
            height: 100%
            padding: 3em
            margin: 0 1em

        .rightwrp
            overflow-y: scroll